body {
    background-color: lightblue;
    color: darkblue;
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 18px;
}
button {
    background-color: darkblue;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}